body{
	background-color: #EEEEEE;
	margin: 0;
}
.header{
	background-color: #404040;
	display: inline-block;
	width: 100%;
	position: fixed;
	height: 80px;
	text-align: center;
}
.content{
	background-color: white;
	width: 100%;
	padding-top: 80px;
}
.content .sidebar{
	width: 300px;
	float: left;
	position: fixed;
	height: 910px;
	background-color: #eeeeee;
}

.content .main-content{
	padding-left: 300px;
	height: 8000px;
	background-color: white;
}

/*.content .main-content div{
	height: 400px;
}*/

.content .main-content .intro{
	padding-left: 10px;
}

xmp{
    background-color: #eeeeee ;
    border-left:10px solid #808080 ;
    height: auto;
    display: inline-block;
    padding:0px 10px;
    width:100%;
    white-space: pre-wrap;
}
.content .main-content .code{
    width:90%;
    display: inline-block;
    padding-left: 10px;
}

.content .main-content .preview{
    width:50%;
    display: inline-block;
}

.content .main-content .element, .table, .form{
	padding-left: 10px;
}

.content .main-content .element .code, .table .code, .form .code{
    width:90%;
    display: inline-block;
    padding-left: 10px;
}

.content .main-content .element .preview, .table .preview, .form .preview{
    width:90%;
    display: inline-block;
}

.preview.table table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.footer{
	background-color: #CCCCCC;
	display: inline-block;
	width: 100%;
	text-align: center;
}
